/* || GENERAL STYLES */
@font-face {
    font-family: 'Computer Says No';
    src: url("../assets/font/computer-says-no.ttf") format('truetype');
}

:root {
    --colour-orange: 255, 130, 83;
    --colour-lgreen:209, 228, 135;
    --colour-dgreen: 46, 109, 30;
    --colour-brown: 224, 197, 156;
    --colour-bg: 244, 244, 244;
    --colour-green: 247, 255, 216;
    --colour-green-2: 116, 139, 89;
    --colour-blue: 231,251,255;
    --colour-beige: 238,227,209;
    --font-baskerville: 'Libre Baskerville', sans-serif;  /*!!!*//* confirm fallback fonts*/
    --font-csn: "Computer Says No", "Kode Mono", sans-serif; /*!!!*//* confirm alt from computer say no: adhere by liscence terms https://creativecommons.org/licenses/by-sa/3.0/ */
    --font-arial: Arial, Helvetica, sans-serif;
}


* {
    padding: 0;
    margin: 0;
    border: none;
    max-width: 100%;
    box-sizing: border-box;
}

html { 
    text-align: left;
    font-family: var(--font-arial);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
}

h1, h3 {
    font-family: var(--font-baskerville);
    font-weight: normal;
    font-size: 3.1rem;
    margin-bottom: 10px;
}

h2, h4 {
    font-family: var(--font-csn);
    font-weight: normal;
    font-size: 2.5rem;
    margin: 1.2rem;
    word-spacing: 3px;
}

h3, h4 {
    font-style: italic;
}

a {
    text-decoration: none;
    color: black; 
    font-size: larger;
}

span {
    color: rgb(var(--colour-green-2));
}

button {
    background-color: transparent;
}

/* || HEADE & MAIN NAV */
/* background video at top left corner */
#bg-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* fixed positioning for logo & nav */
#logo, nav {
    position: fixed;
    z-index: 10;
}

/* format logo */
#logo {
    top: 0;
    left: 0;
    margin: 1rem;
    width: 150px;
    cursor: pointer;
    border-radius: 3rem;
    padding: 0.5rem;
    text-align: center;
}

#logo > img {
    width: 100px; 
    place-self: center;
}

/* hide nav & dropdown until logo is clicked or hovered*/
nav, nav > ul .dropdown-options {
    display: none;
    font-family: var(--font-kode);
}

/* format nav menu */
nav > ul {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.5rem;
    z-index: 11;
}

/* format nav links */
#logo, nav > ul a {
    background-color: rgb(var(--colour-bg));
    font-family: var(--font-csn); 
}

nav > ul a {
    padding: 0.25em 1.25em;
    border-radius: 1em;
}

nav > ul li {
    list-style-type: none;
}

/* display navigation when logo is hovered */
#logo:hover + nav, nav:hover, nav.is-visible {
    display: contents;
}

/* display dropdown options when about button is hovered*/
.dropdown-toggle:hover .dropdown-options {
    display: block;
}

/* display shadow when hovering on links */
nav a:hover, button:hover{
    box-shadow: 0 8px 16px 0 rgba(0.4,0.4,0.4,0.4); /*!!!*//* change to percent */
    transition: background-color 0.3s ease; 
}

/* format dropdown options */
.dropdown-options li {
    max-width: 100%;
    font-size: .8rem;
    row-gap: 1rem; 
}




/* || TITLE SECTION */
#title {
    height: 670px;
    margin-top: 100px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    place-items: center;
    overflow: hidden;
    margin-left: 7%;
}

#title > img {
    position: absolute;
    left: 20px; /*!!!*/
    height: 80%;
    width: auto;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(var(--colour-lgreen), 0.44);
    z-index: 1;
}

#title-content {
    position: relative;
    left: 295px; /*!!!*/
    width: 70%;
    height: 87%;
    padding: 0 3rem 1rem 25%;
    border-radius: 1.5rem;
    background-color: rgb(var(--colour-bg));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 1rem;
    height: 10%;
}

#home-nav button img {
    height: 1rem;
    cursor: pointer;
}

#title-content h1 {
    text-align: left;
    height: 80%;
    padding-top: 6rem;
    font-weight: 600;
} 

#title-content a h2 {
    text-align: right;
}








/* || INTRO SECTION */
#intro {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
    flex-wrap: wrap;
    background: radial-gradient(circle at center, rgb(var(--colour-green)) 0%, rgb(var(--colour-green-2)) 50%, rgb(var(--colour-beige)) 100%);  
}

#intro > h2 {
    text-align: center;
    width: 100%; 
    margin-bottom: 1rem;
}

/* draw arrow */
#intro h2::before {
    content: "";
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-top: 10px solid black; /* Adjust the color as needed */
    display: block; /* Use block to place it above the element */
    width: 0;
    height: 0;
    margin-bottom: 5px; /* Space between the arrow and the h2 element */
    margin-left: auto; /* Center the arrow horizontally */
    margin-right: auto;
  }
  

#intro > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(25% - 1rem);
    overflow: hidden;
    border-radius: 3rem;
}

#intro img {
    width: auto; 
    height: 450px; 
    object-fit: cover;
    border-radius: 3rem;
}

.blue {
    background-image: linear-gradient(to bottom, rgb(var(--colour-green)), transparent);
    border-radius: 3rem;
    padding: 1rem;
}

.green {
    background-color: rgba(var(--colour-green), 0.5);
    border: 2px solid black;
    width: 100%;
    transform: translateY(-20px);
}

.orange {
    background-color: rgba(var(--colour-orange), 0.3);
    border: 2px solid black;
    transform: translateY(20px);
    
}

.intro > img {
    position: absolute;
    display: block;
    margin-top: -20px;
    width: 300px;
}





/* || SDG SECTION */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    gap: 25px;
    padding: 1%;
    margin-bottom: 5px;
}

.sdg-button {
    background-color: transparent; 
    border: none; 
    cursor: pointer;  
    padding: 0; 
}


.sdg-button > a {
    border: none;
}

.sdg-button img { 
    margin: 2.5px;
    border: none;
    padding: none;
    height: auto; 
    transition: transform 0.3s ease; /* smooth transition for click effect */
}

.sdg-button:active img {
    transform: scale(0.9); /* slightly shrink image when clicked */
}

.grid-item {
    text-align: center;
    border-radius: 5px;
}
  
.grid-container video {
    position: absolute;
    z-index: -2;
}








